* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.container {
  border: double red;
  /* border-top-style: ridge;
  border-right: 10px dotted blue; */
  font-size: 1.5rem;
  margin: 1.5rem;
  /* margin-top: 1.5em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em; */
  padding: 1.5rem;
  outline: 5px solid purple;
  outline-offset: 5px;
}

/* h1 {
  border: 2px dashed red;
  width: 400px;
  font-size: 3rem;
  padding: 0.5em;
} */

/* main {
  font-size: 2rem;
}

p {
  font-size: 2rem;
  width: 40ch;
} */
